.footer {
    background: #0E1D28;
    padding: 118px 0;
    @media screen and (max-width:680px) {
        padding: 60px 0;
    }
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width:680px) {
        display: grid;
        gap: 30px;
    }
}

.logo-link {
    width: 50%;
}

.footer__nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.footer__menu {
    display: grid;
    gap: 3px;
    h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 133.333% */
    }
}

.footer-link{
    color: #FFF;
    line-height: 24px; /* 150% */
    transition: all 0.2s ease-in;
    &:hover, &:active, &:focus{
        opacity: 0.75;
    }
}